@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #032d99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.icon {
  height: 1em;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-large {
  font-size: 3rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

header ul {
  display: flex;
}

header a {
  display: flex;
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

/* Mobile Styles */
@media (max-width: 700px) {
  header {
    display: block;
    text-align: center;
  }

  header ul {
    text-align: center;
    justify-content: center;
  }

  .container {
    padding: 0 1rem;
  }

  .text-large {
    font-size: 2rem;
  }
}
